/* HEADING */

body h1.title,
body h2.title,
body h3.title,
body h4.title,
body h5.title,
body h6.title {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

body p,
body li,
body a,
time,
small,
strong {
    font-family: 'Esteban', serif;
}

svg.icon {
    width: 1rem;
    height: 1rem;
}

a.primary-btn {
    background: transparent;
    border: 1px solid #e58295;
    color: #e58295;
    transition: .3s ease;
    padding: 10px 30px;
}

a.primary-btn:hover {
    background: #e58295;
    transition: .3s ease;
    color: #fff;
}

div.page-banner {
    display: flex;
    align-items: center;
    height: 30vh;
    justify-content: center;
}

/* NAVBAR */

@media screen and (min-width: 1024px){
    .navbar-end {
        justify-content: flex-end;
        margin: 0 auto;
    }
}

div.branding {
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
}

/* div.hero-head {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
} */

span.navbar-burger {
    color: #e58295;
}

nav.navbar {
    background: transparent;
}

a.navbar-item img {
    max-height: none;
    width: 150px;
}

a.navbar-item,
a.navbar-link {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: color .3s ease;
}

a.navbar-link:not(.is-arrowless)::after {
    border-color: white;
}

div a.navbar-item:hover {
    background: none;
    color: #631B33;
    transition: color .3s ease;
}

a.navbar-link:hover {
    color: #fff;
}

.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
    background: transparent!important;
}

@media screen and (min-width: 1024px){
    .navbar-dropdown a.navbar-item {
        color: black;
    }
    div.navbar-dropdown {
        border-top: 2px solid #b83c30;
    }
}


/* .navbar-menu {
    animation: navAnimOpen .5s ease-in-out;
}
@keyframes navAnimOpen {
  0% {display: none;opacity: 0;max-height: 0;}
  1% {display: block;opacity: 0;}
  100% {opacity: 1;max-height: 396px;}
} */

/* MOBILE NAV */

div.hero-head {
    background: white;
}

@media (max-width: 1023px){
    /* .navbar-end {
        display: flex;
        -ms-display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
    }

    .navbar-menu {
        left: 20px;
        -webkit-transition: all 1s ease;

    }

    .navbar-menu.is-active {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: black;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .navbar-burger {
        z-index: 10;
    } */

    /* MOBILE DROP DOWN */
    .navbar-dropdown {
        display: none;
    }

    .navbar-dropdown.is-active {
        display: block;
    }
}

/* HERO */

.hero-container:after {
    content: "";
    position: absolute;
    background: rgb(229 130 149 / 22%);
    width: 100%;
    height: 70vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

@media screen and (min-width:768px) {
    div.hero-text {
        margin-left: -50px;
    }
}

div.hero-text {
    background: #fff;
}

h1.title.hero-title {
    font-family: 'Caveat', cursive;
    text-transform: capitalize;
}

div.hero-text-container {
    padding: 20px;
    border: 1px solid rgb(229 130 149 / 22%);
}

/* SIDEBAR */

.profile-image {
    padding: 10px;
    border: 1px solid rgb(229 130 149 / 22%);
}

ul.social {
    margin: 0 auto;
    columns: 2;
}

ul.social li {
    display: inline-block;
    text-align: center;
    margin: 8px;
}

ul.social li a {
    color: #000;
}

div.subscribe input {
    width: 100%;
    height: 30px;
    background: rgb(229 130 149 / 22%);
    border: none;
    padding: 20px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

/* RECIPE */

div.recipe-heading {
    background: #e58295;
}

div.nutrition-facts > div.columns:not(:last-child) {
    border-bottom: 1px solid #e7e7e7;
}

div.nutrition-facts {
    border: 1px solid #f8cdd5;
    padding: 40px;
}

h1.nutrition-heading {
    background: #e997a7;
    color: #fff;
    padding: 20px;
}

/* FOOTER */

footer.footer {
    background: rgb(229 130 149 / 22%);
}

ul.footer-social li {
    display: inline;
    margin: 10px;
}

ul.footer-social li a {
    color: #000;
}

.footer-credit {
    background: #e997a7;
}