{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <div class="blog-container mt-6">
                    <div class="columns">
                        <div class="column">
                            <img src="{{ .Params.featured_image }}" alt="" class="mb-6">
                            <h1 class="title is-1">{{ .Title }}</h1>
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                {{ partial "templates/sidebar" . }}
            </div>
        </div>
    </div>
</div>
{{end}}