{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-9">
                <div class="blog-container mt-6">
                    <div class="columns">
                        <div class="column content">
                            <img src="{{ .Params.featured_image }}" alt="" class="mb-6">
                            <h1 class="title is-1">{{ .Title }}</h1>
                            {{ .Content }}
                        </div>
                    </div>
                    {{ partial "templates/disclaimer" . }}
                          <div class="columns">
                            <div class="column">
                              <h1 class="title is-3">Leave a Comment</h1>
                              <div class="fb-comments pt-6" data-href="{{ .Permalink }}" data-numposts="5" data-width="100%"></div>
                            </div>
                          </div>
                </div>
            </div>
            <div class="column">
                {{ partial "templates/sidebar" . }}
            </div>
        </div>
    </div>
</div>
{{end}}