  
{{ partial "global/head" . }}
{{ partial "global/navbar.html" . }}

<div style="background:url({{ .Site.Data.design.sub_page.image }}) no-repeat center; background-size: cover;" class="page-banner">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column">
                    <h2 class="title is-4 has-text-black">{{ .Title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "global/footer.html" . }}
