{{ $footerContact := .Site.Data.profile.primary_contact }}
{{ $footerLocation := .Site.Data.profile.location_information }}
{{ $footerDesign := .Site.Data.design.footer }}
{{ $footerSocial := .Site.Data.profile.social_media }}
<footer class="footer">
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        {{ if .Site.Data.design.branding.logo }}
          <img src="{{ .Site.Params.cloudinary_url }}{{.Site.Data.design.branding.logo }}" alt="{{ .Site.Data.profile.primary_company_name }}" width="300" class="mb-5">
        {{ else }}
        {{ end }}
        <h2 class="title is-6 mb-0 has-text-white"></h2>
        {{ if $footerDesign.footer_bio }}
          <p class="pb-6 is-size-6">{{ $footerDesign.footer_bio }}</p>
        {{ end }}
        <ul class="footer-social">
          {{ if $footerSocial.facebook }}<li><a href="{{ $footerSocial.facebook }}" target="_blank">Facebook</a></li>{{ end }}
          {{ if $footerSocial.instagram }}<li><a href="{{ $footerSocial.instagram }}" target="_blank">Instagram</a></li>{{ end }}
          {{ if $footerSocial.twitter }}<li><a href="{{ $footerSocial.twitter }}" target="_blank">Twitter</a></li>{{ end }}
          {{ if $footerSocial.pinterest }}<li><a href="{{ $footerSocial.pinterest }}" target="_blank">Pinterest</a></li>{{ end }}
          {{ if $footerSocial.youtube }}<li><a href="{{ $footerSocial.youtube }}" target="_blank">Youtube</a></li>{{ end }}
          {{ if $footerSocial.linkedin }}<li><a href="{{ $footerSocial.linkedin }}" target="_blank">Linkedin</a></li>{{ end }}
          {{ if $footerSocial.zillow }}<li><a href="{{ $footerSocial.zillow }}" target="_blank">Zillow</a></li>{{ end }}
          {{ if $footerSocial.redfin }}<li><a href="{{ $footerSocial.redfin }}" target="_blank">Redfin</a></li>{{ end }}
          {{ if $footerSocial.realtor }}<li><a href="{{ $footerSocial.realtor }}" target="_blank">Realtor</a></li>{{ end }}
          {{ if $footerSocial.reddit }}<li><a href="{{ $footerSocial.reddit }}" target="_blank">Reddit</a></li>{{ end }}
          {{ if $footerSocial.trulia }}<li><a href="{{ $footerSocial.trulia }}" target="_blank">Trulia</a></li>{{ end }}
          {{ if $footerSocial.yelp }}<li><a href="{{ $footerSocial.yelp }}" target="_blank">Yelp</a></li>{{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>
<div class="footer-credit">
<div class="container">
  <div class="columns">
    <div class="column has-text-centered-mobile">
      <small class="is-size-7 has-text-white">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.website_title }} &middot; <a href="https://hungryram.com" target="_blank" class="has-text-white" rel="nofollow">Website Developed by Hungry Ram</a></small>
    </div>
    <div class="column has-text-centered-mobile has-text-right-desktop">
      <ul>
        <li class="is-inline-block mr-4 is-size-7"><a href="/legal/privacy-policy" class="has-text-white">Privacy Policy</a></li>
        <li class="is-inline-block mr-4 is-size-7"><a href="/legal/acessibility" class="has-text-white">Accessibility</a></li>
        <li class="is-inline-block mr-4 is-size-7"><a href="/legal/terms-and-condition" class="has-text-white">Terms and Conditions</a></li>
        <li class="is-inline-block mr-4 is-size-7"><a href="/legal/" class="has-text-white">Legal Policies</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js"></script>
<script src="{{.Site.BaseURL}}/js/main.js"></script>
<script>
jQuery(document).ready(function ($) {
	  $('.home-slide').slick({
    dots: false,
        pauseOnHover: false,
        infinite: true,
        speed: 500,
        fade: !0,
        cssEase: 'linear',
		slidesToShow: 1,
		slidesToScroll: 1,
        autoplay: true,
		autoplaySpeed: 5000,
        draggable: false,
		arrows: false,
		responsive: [
	    {
		breakpoint: 1024,
		settings: {
		slidesToShow: 1,
		slidesToScroll: 1,
        infinite: true
		          }
        },
        {
		breakpoint: 768,
		settings: {
        draggable: true,
		          }
		},
		{
		breakpoint: 600,
		settings: {
        slidesToShow: 1,
        draggable: true,
		slidesToScroll: 1
			      }
		},
		{
		breakpoint: 480,
		settings: {
        slidesToShow: 1,
        draggable: true,
		slidesToScroll: 1
		          }
		}
	
			      ]
                  });
        });
</script>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
  
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
  
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
  
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
  
        });
      });
    }
  
  });
</script>
</body>
</html>
