
<section class="hero is-fullheight hero-container">
    {{ partial "global/navbar" . }}

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <img src="{{ .Site.Data.design.hero.image }}" alt="">
            </div>
            <div class="column hero-text">
              <div class="hero-text-container">
                <h1 class="title is-1 hero-title">{{ .Site.Data.design.hero.heading }}</h1>
                <p>{{ .Site.Data.design.hero.body_text }}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>