{{ partial "global/navbar.html" . }}

<div class="home-slide">
{{ range .Site.Data.design.hero.slide }}
<section class="hero" style="background:url({{ .image }});height:80vh;background-size:cover;background-position:center;">
  <!-- Hero head: will stick at the top -->


  <!-- Hero content: will be in the middle -->
  <div class="hero-body slide-content" style="margin-top:140px">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half is-offset-one-quarter has-text-white hero-text">
          <div class="hero-text-container">
            <h1 class="title is-1 has-text-black is-size-3-mobile">{{ .heading }}</h1>
            <p class="mt-6 is-size-7-mobile has-text-black">{{ .body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{{ end }}
</div>