
<section class="hero is-fullheight hero-container">
    {{ partial "global/navbar" . }}

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="title is-2">Welcome to Life & Bites</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sequi incidunt eos esse id itaque consectetur inventore perspiciatis ratione dolores veniam temporibus, nemo nobis sapiente, quidem in. Earum, dolores totam.</p>
            </div>
            <div class="column">
                <img src="/uploads/san-diego.jpg" alt="">
            </div>
        </div>
      </div>
    </div>
  </section>